.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

:root {
  --background-color: #ffffff;
  --text-color: #212529;
  --card-background: #f8f9fa;
  --nav-bar: #1e1e1e;
  --navbar-txt: #e0e0e0;
  --card-border: #444;
  --link-color: #007bff;
}

.dark-mode {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --card-background: #1e1e1e;
  --card-border: #444;
  --nav-bar: #f8f9fa;
  --navbar-txt: #212529;
  --link-color: #61dafb;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.some-card-component {
  background-color: var(--card-background);
  border: 1px solid var(--card-border);
}

.some-link {
  color: var(--link-color);
}
